.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.board-container{
  /* margin: 20px; */
  margin-top: 100px;
  margin-left:30px ;
  margin-bottom:30px ;
  margin-right:30px ;
  background-color: rgb(25, 198, 214);
  text-align: center;
}